@import 'toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Customize the track (background) of the scrollbar */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

/* Customize the thumb (scrollbar handle) */
::-webkit-scrollbar-thumb {
	background: #002d52;
	border-radius: 10px;
}
